                    <section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset="" style="height: 641px;">
                        <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-items="1" data-swiper-space-between="0">
                            <div class="swiper-wrapper">
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-autoplay="8000">
                                    <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover" style="background-image: url(<%=image_path("camprieu0ok.JPG")%>); background-position: bottom center;">
                                        <div class="container d-flex align-items-center">
                                            <div class="col">
                                                <div class="row text-center">
                                                    <div class="col-12">
                                                        <h2 class="heading heading-xxl strong-600 text-uppercase animated" data-animation-in="fadeInDownBig" data-animation-delay="200">
                                                            CAMPRIEU 
                                                        </h2>
                                                        <p class="lead animated" data-animation-in="fadeInUpBig" data-animation-delay="200">
                                                            Parc national des Cévennes
                                                        </p>

                                                        <a href="http://www.cevennes-parcnational.fr/fr" data-scroll-to="#scrollToSection" class="btn btn-styled btn-lg btn-white btn-circle btn-outline mt-5 animated" data-animation-in="fadeInUpBig" data-animation-delay="1000">
                                                            

                                                            En savoir plus
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section> <div id="wrapper">
                              <h1 class="chrome" style="text-align: center">DISCO</h1>
                              <h3 class="dreams">      30ans </h3>
                              <br>
                              <br>
                              <br>
                              <br>
                              <h3 class="dreams"> Alexis & Maxime </h3>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>

                       </div>
                   </section>
                   

                    <section class="slice bg-black" id="scrollToSection">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-4">
                                <h3 class="section-title-inner heading-2 c-white text-normal">
                                    <span> 31 AOUT - 3 JUILLET </span>
                                </h3>
                            </div>
                       
                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-lighter strong-300 text-center">
                                <p>
                                   
                                </p>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-4">
                                    <div class="block block-image-holder animate-this animate--hover-zoom">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= image_path("meilleurdeguisementok.JPG")%>"
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">MEILLEUR DJ</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">A vos playlist. Preparez un set de 45 min pour esperer etre élu DJ camprieu 2018  </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-lg-4">
                                    <div class="block block-image-holder animate-this animate--hover-zoom">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src= "<%= image_path("bbq.jpeg")%>"
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white"> Pot Chef  </a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white"> Avec votre groupe de potes organisez un repas et régalez le monde. Mettez les pieds sous la table le reste du temps.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="block block-image-holder animate-this animate--hover-zoom">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src= "<%= image_path("djok.JPG")%>"
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner py-4 animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white"> DISCO KING & DISCO QUEEN </a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white"> A vos tenues , Election du Meilleur déguisement D.I.S.C.O </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="space-xs-xl"></span>

                        </div>
                    </section>

                    <section class="slice bg-black">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-4">
                                <h3 class="section-title-inner heading-2 c-white text-normal">
                                    
                                </h3>
                            </div>

                            
                            <span class="space-xs-xl"></span>

                            <div class="row cols-md-space cols-sm-space cols-xs-space">
                                <div class="col-lg-6">
                                    <div class="px-4">
                                        <div class="block block-image-holder image-animate-wrapper">
                                            <div class="block-image image-animate--hover">
                                               <span> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d91676.25861260608!2d3.423038633399788!3d44.10640442086202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b39416af6f0d61%3A0x4078821166b3640!2s30750+Saint-Sauveur-Camprieu!5e0!3m2!1sen!2sfr!4v1531168613196" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> </span>"ICI"
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="px-4">
                                        <div class="block block-image-holder image-animate-wrapper">
                                            <div class="block-image image-animate--hover">
                                                <a href="#">
                                                    <iframe src="https://drive.google.com/file/d/1a-ZWNEsHApTwHAutKKilVyBhzw6basMh/preview" width="640" height="480"></iframe>
                                                </a>
                                            </div>

                                            <div class="text-center pt-4">
                                                <span class="heading heading-sm c-gray-light text-uppercase strong-300"></span>
                                                <h3 class="heading heading-4 c-white strong-400 mt-2">BISOUS</h3>
                                                <p class="mt-3 c-white px-5">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="text-center">
                                <ul>
                                    <li><a href="https://www.facebook.com/alex.cost.56" class="link link-sm link--style-2 text-upeprcase text-uppercase strong-600">
                                    Event FB
                                    <i class="ion-ios-arrow-right ml-1"></i>
                                    </a></li>
                                    <li><a href="https://youtu.be/oqz0x3TH2no" class="link link-sm link--style-2 text-upeprcase text-uppercase strong-600">
                                    Encore ?
                                    <i class="ion-ios-arrow-right ml-1"></i>
                                    </a></li>
                                </ul>
                                
                            </div>
                        </div>
                    </section>                   
               </div>
            </div>
        </div><!-- END: st-pusher -->
    </div>
</div><!-- END: body-wrap -->

